.title{
    height: 49px;
    border-bottom: 1px solid rgba(31,56,88,.06);
    line-height: 49px;
    padding: 0 14px;
    background: #fff;
    font-size: 14px;
    color: #000;
    position: relative;
    z-index: 2
}
.title a{
    float: right;
    font-size: 14px;
    color: rgba(31,56,88,.6);
    cursor: pointer;
    text-decoration: none;
}
